@media screen and (min-width: 1200px) {
  .container {
    max-width: 1570px;
  }
}

@media screen and (min-width: 1200px) {
  .container-small {
    max-width: 1410px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container-smaller {
    max-width: 894px;
    margin-right: auto;
    margin-left: auto;
  }
}
