header {
  background-color: $header-background-color;
  .header__top {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    height: 40px;

    img {
      padding: 12px 15px 12px 15px;
      cursor: pointer;
    }

    a {
      align-self: center;
    }
  }

  .header__content {
    display: flex;
    justify-content: space-between;
    background-color: transparent;

    .header__logo {
      z-index: 1;
      margin-top: 8px;
      margin-left: -2px;
      p {
        margin-top: 4px;
      }
    }

    .hamburger-menu {
      display: none;
      position: relative;
      z-index: 1001;
      margin: 10px;
      .menu-toggle {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        .bar {
          width: 30px;
          height: 3px;
          background-color: #fff;
          margin: 6px 0;
          transition: 0.4s;
        }
      }
    }

    nav {
      align-self: center;
      z-index: 1;
      display: flex;
      margin-top: -10px;
      margin-right: -10px;
      ul {
        display: flex;

        li {
          align-items: center;

          a {
            color: $primary-white;
            font-family: $myFont;
            font-size: 16px;
            letter-spacing: 2px;
            text-decoration: none;
            text-transform: uppercase;
            margin-left: 50px;
            cursor: pointer;
            text-wrap: nowrap;
          }

          a:hover {
            color: $primary-green;
          }
        }
      }
    }

    p {
      color: $primary-green;
      font-family: $myFont;
      text-transform: uppercase;
      letter-spacing: 1.68px;
      font-size: 14px;
    }
  }
}

.header--sticky {
  position: fixed;
  top: 0;
  background-color: black;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  width: 100%;
  transition: background-color 0.8s ease, box-shadow 0.8s ease;
  .header__content {
    nav {
      margin-top: 3px;
    }
  }
}

.menu-open {
  .bar:nth-child(1) {
    transform: rotate(45deg) translate(10px, 11px);
  }
  .bar:nth-child(2) {
    opacity: 0;
  }
  .bar:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -11px);
  }
}

@media screen and (max-width: 1420px) {
  header {
    .header__content {
      nav {
        ul:last-child {
          margin-right: 10px;
        }
        ul {
          li {
            a {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  header {
    .header__content {
      nav {
        display: none;
      }
      .hamburger-menu {
        display: flex;
      }
    }
  }
}
