header {
  background-color: $header-background-color;
  .header__top {
    display: flex;
    justify-content: flex-end;

    img {
      padding-left: 30px;
      cursor: pointer;
    }

    a {
      align-self: center;
    }
  }

  .header__content {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    z-index: 1;
    background-color: transparent;

    .header__logo {
      z-index: 1;
    }

    .header__hamburgerMenu {
      display: none;
    }

    nav {
      align-self: center;
      z-index: 1;
      display: flex;
      ul {
        display: flex;

        li {
          align-items: center;

          a {
            color: $primary-white;
            font-family: $myFont;
            font-size: 16px;
            letter-spacing: 0.8px;
            text-decoration: none;
            text-transform: uppercase;
            margin-left: 50px;
            cursor: pointer;
            text-wrap: nowrap;
          }
        }
      }
    }

    p {
      color: $primary-green;
      font-family: $myFont;
      text-transform: uppercase;
      letter-spacing: 1.68px;
      font-size: 14px;
    }
  }
}

.header--sticky {
  position: fixed;
  top: 0;
  background-color: black;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  width: 100%;
  transition: background-color 0.8s ease, box-shadow 0.8s ease;
}

@media screen and (max-width: 1400px) {
  .header__top {
    margin-bottom: -16px;
    img {
      padding: 10px;
    }
  }
}

@media screen and (max-width: 1200px) {
  header {
    .header__top {
      margin-bottom: -16px;
    }
    .header__content {
      nav {
        ul {
          li {
            a {
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  header {
    .header__top {
      margin-bottom: 20px;
    }
    .header__content {
      nav {
        display: none;
      }
      .header__hamburgerMenu {
        display: block;
        width: 50px;
        background-color: transparent;

        position: relative;
        z-index: 2;
        border: none;
      }
    }
  }
}
