.img-list {
  margin-bottom: 150px;
  .container-small {
    min-height: 730px;
    background-color: #fff;
    padding: 141px 136px;
    border: 2px solid $primary-green;
    position: relative;
    h3 {
      font-family: $myFont;
      font-size: 50px;
      font-weight: bold;
      color: $header-background-color;
      margin-bottom: 80px;
      text-transform: capitalize;
    }
    .img-list__content {
      ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 33px;
        column-gap: 182px;
        li {
          .logo-wrapper {
            display: flex;
            gap: 30px;
            align-items: center;
            img {
              width: 60px;
              height: 60px;
            }
            p {
              font-family: $myFont;
              color: $header-background-color;
              font-weight: bold;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
  .bordered::before,
  .bordered::after {
    content: "";
    position: absolute;
    height: 4px;
    background-color: #fff;
  }
  .bordered::before {
    top: 0;
    right: -3px;
    bottom: -3px;
    width: 4px;
    height: 80%;
  }

  .bordered::after {
    width: 50%;
    height: -4px;
    right: -2px;
    top: -3px;
  }
}
