.learn-more {
  margin-bottom: 197px;
  position: relative;
  .container-smaller {
    min-height: 419px;
    .content {
      text-align: center;
      padding-top: 70px;

      h2 {
        font-family: $myFont;
        font-weight: bold;
        font-size: 18px;
        color: $primary-green;
        margin-bottom: 11px;
      }
      h3 {
        font-family: $myFont;
        font-weight: bold;
        font-size: 50px;
        color: #142023;
        margin-bottom: 34px;
      }
      p {
        font-family: $myFont;
        font-size: 18px;
        color: #606364;
        margin-bottom: 77px;
      }

      a {
        button {
          border: none;
          font-family: $myFont;
          font-size: 18px;
          color: #fff;
          text-transform: uppercase;
          background-color: $primary-green;
          padding: 30px 60px 30px 60px;
          cursor: pointer;
        }
      }
    }
  }
}
