.scrollingSection {
  min-height: 500px;
  margin-top: 250px;

  h2 {
    text-align: center;
    font-family: $myFont;
    font-size: 50px;
    font-weight: bold;
    color: $heading-color;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 1200px) {
  .slick-slide {
    margin-right: 10px;
  }
}
